<!doctype html>
<html>
  <head>
    <title>Ghostbuster</title>
  </head>
  <body>
  <form action="/jobs" method="post">
    <fieldset>
      <p>
        <label for="url">URL</label>
        <input type="text" name="url" id="url">
      </p>
      <p>
        <label for="width">Width:</label>
        <input type="text" name="width" id="width" value="1280">
        <label for="height">Height:</label>
        <input type="text" name="height" id="height" value="1024">
      </p>
      <p>
        <input type="submit" value="Validate">
      </p>
    </fieldset>
  </form>
  </body>
</html>