{% extends "layout.html" %}

{% block content %}
<ul class="nav nav-tabs mbm">
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/reports">Reports</a></li>
</ul>

<h2>{{entries.length}} reports</h2>
{% for entry in entries %}
<div class="media">
  <a class="pull-left" href="/reports/{{entry.id}}">
    <img src="/{{entry.thumbnail.path}}" class="thumbnail">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ entry.url }}</h4>
    <ul>
      <li><strong>Date: </strong> {{entry.started|date('Y-m-d H:m')}}</li>
      <li><strong>Loaded: </strong> {{entry.loaded / 1000}} s</li>
    </ul>
  </div>
</div>
{% endfor %}
{% endblock %}