{% extends "./layout.html" %}

{% block content %}
<ul class="nav nav-tabs mbm">
  <li><a href="/">Home</a></li>
  <li><a href="/reports">Reports</a></li>
</ul>

<h1>{{report.url}}</h1>

{% include "./includes/properties.html" %}

<div class="strip">
  <div class="mask" style="width:{{ 320 * report.clips.length }}px">
    {% for clip in report.clips %}
      <div>
        <p>{{(clip.date - report.started) / 1000}} s</p>
        <a href="/{{clip.path}}">
          <img src="/{{clip.path}}" width="300">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}