{% extends "./layout.html" %}

{% block content %}
<ul class="nav nav-tabs mbm">
  <li><a href="/">Home</a></li>
  <li><a href="/reports">Reports</a></li>
</ul>

<h1>{{url}}</h1>
<ul>
  <li><strong>Date: </strong> {{started|date('Y-m-d H:m')}}</li>
  <li><strong>Loaded: </strong> {{loaded / 1000}} s</li>
</ul>

<div class="strip">
  <div class="mask" style="width:{{ 320 * clips.length }}px">
    {% for clip in clips %}
      <div>
        <p>{{(clip.date - started) / 1000}} s</p>
        <img src="/{{clip.path}}" width="300">
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}