{% extends "layout.html" %}

{% block content %}
<ul class="nav nav-tabs mbm">
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/reports">Reports</a></li>
</ul>

<h2>{{reports.length}} reports</h2>
{% for report in reports %}
<div class="media">
  <a class="pull-left" href="/reports/{{report.id}}">
    <img src="/{{report.thumbnail.path}}" class="thumbnail">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ report.url }}</h4>
    {% include "./includes/properties.html" with {report: report} %}
  </div>
</div>
{% endfor %}
{% endblock %}